<h1>{{title}}</h1>
<!-- <ul>
    <li *ngFor ="let alumno of arrayAlumnados; let i = index">
        <strong>Alumno {{i+1}}:</strong>
        <ul>
            <li>{{alumno.nombre}}</li>
            <li>{{alumno.apellidos}}</li>
        </ul>
    </li>
</ul>

<button (click)="alumnado('primero')">alumnado1</button>
<div *ngIf="alumnadoUno==true">
    <ul *ngFor="let alumno of arrayAlumnados">
        <li *ngIf="alumno.curso=='1'">{{alumno.nombre}}</li>
    </ul>
</div>

<button (click)="alumnado('segundo')">alumnado2</button>
<div *ngIf="alumnadoSegundo==true">
    <ul *ngFor="let alumno of arrayAlumnados">
        <li *ngIf="alumno.curso=='2'">{{alumno.nombre}}</li>
    </ul>
</div> -->

<button [routerLink]="['/alumnado/', 1]">Alumando de primero</button>

<button [routerLink]="['/alumnado/', 1]">Alumando de segundo</button>

<div *ngIf="curso">
    curso del coche: {{curso}}
    <button (click)="onBack()">Volver</button>
</div>
