<h1>{{title}}</h1>
<ul>
    <li *ngFor ="let alumno of arrayAlumnados; let i = index">
        <strong>Alumno {{i+1}}:</strong>
        <ul>
            <li>{{alumno.nombre}}</li>
            <li>{{alumno.apellidos}}</li>
        </ul>
    </li>
</ul>

<!-- <div *ngIf=" == 1">
    <button (click)="cambiarExterno(false)">Mostrar Alumnos</button>
    <ul>
        <li *ngFor ="let alumno of arrayAlumnados; let i = index">
            <strong>Alumno {{i+1}}:</strong>
            <ul>
                <li>{{alumno.nombre}}</li>
                <li>{{alumno.apellidos}}</li>
            </ul>
        </li>
    </ul>
</div>
<div *ngIf="trabajadorExterno == false">
    <button (click)="cambiarExterno(true)">Mostrar Empleado</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
    </ul>
</div>  -->
